

<div class="home">
	<div class="section">
		<%= render :partial => "jobs/search_bar" %>
		<div class="screenPart">
			<div class="list">

					<ul id="myTab" class="nav nav-tabs" role="tablist">
				    <li class="active">
				      <a data-toggle="tab" href="#category-0">全栈工程师</a>
				    </li>
				    <li class="">
				      <a data-toggle="tab" href="#category-1">前端开发</a>
				    </li>
				    <li class="">
				      <a data-toggle="tab" href="#category-3">架构师</a>
				    </li>
				    <li class="">
				      <a data-toggle="tab" href="#category-4">Ruby</a>
				    </li>
				    <li class="">
				      <a data-toggle="tab" href="#category-5">Jave</a>
				    </li>
				    <li class="">
				      <a data-toggle="tab" href="#category-7">PHP</a>
				    </li>
						<li class="">
				      <a data-toggle="tab" href="#category-7">技术总监</a>
				    </li>
						<li class="">
				      <a data-toggle="tab" href="#category-7">CTO</a>
				    </li>
				  </ul>



  	<div class="btn-group pull-right" role="group" aria-label="...">
      <%= link_to("综合排序", jobs_path(:order => "by_lower_bound"), :class => "btn btn-default", :data => {:toggle => "button"}) %>
      <%= link_to("薪资排序", jobs_path(:order => "by_upper_bound"), :class => "btn btn-default") %>
      <%= link_to("最新排序", jobs_path, :class => "btn btn-default") %>
    </div>

<table class="table table-boldered">
  <thead>
    <tr>
      <td>职位名称</td>
      <td>薪资范围</td>
      <td>发布时间</td>
    </tr>
  </thead>
    <tbody>
      <% @jobs.each do |job| %>
      <tr>
        <td>
          <%= link_to(job.title, job_path(job), :target => "_blank") %>
        </td>
        <td>
					¥	<%= job.wage_lower_bound%> - <%= job.wage_upper_bound%>
        </td>
        <td>
          <%= local_time(job.created_at, '%Y %b %e, %l:%M%p') %>
        </td>
      </tr>
    <% end %>

</table>
</tbody>
<div style="margin-top: 50px;">&nbsp
</div>
			</div>
		</div>
	</div>
