<div class="title">
<h1> 编辑职位 </h1>
</div>
<div style="margin-top: 10px;">&nbsp
</div>
<div class="section">
  <div class="desnew">
    <div style="margin-top: 10px;">&nbsp
    </div>
  <%= simple_form_for [:admin,@job] do |f| %>
  <%= f.input :title, :label => "职位名称" %>
  <%= f.input :description, :label => "职位描述" %>
  <%= f.input :wage_lower_bound, :label => "薪资下限" %>
  <%= f.input :wage_upper_bound, :label => "薪资上限" %>
  <%= f.input :is_hidden, :label => "隐藏"%>
  <%= f.submit "更新" %>
<% end %>
<div style="margin-top: 10px;">&nbsp
</div>
</div>
</div>
