
<div class="title">
<h1> 提交简历到 <%= @job.title %> </h1>
</div>
<div style="margin-top: 10px;">&nbsp
</div>
<div class="section">
<div class="desnew">
<hr>
<%= simple_form_for [@job, @resume] do |f| %>
<%= f.input :content,  :label => "留言"%>
<%= f.input :attachment, :label => "简历附件" %>
<%= f.submit "提交" %>
<% end %>
</div>
</div>
