
    <div class="section clearfix">
    	<div class="logo">
        <a class="navbar-brand" href="/"; >
          <h1>Rails<sup>+</sup><span>程序员招聘网</span></h1>
        </a>
    	</div>

	<div class="user">
		<div class="state">
      <ul>
        <% if !current_user %>
          <a><%= link_to("登陆", new_user_session_path) %></a>
          <a><%= link_to("|") %></a>
          <a><%= link_to("注册", new_user_registration_path) %> </a>


        <% else %>
          <%= current_user.email %>

            <% if current_user.admin? %>
              <a> <%= link_to("职位管理", admin_jobs_path) %> </a>
            <% end %>
          <a> <%= link_to("退出", destroy_user_session_path, method: :delete) %> </a>

          <% end %>



      </ul>
		</div>
	</div>
</div>
